<div id="aboutus" class="container aboutus">
  <div class="row first-row">
    <div class="col-md-6 text_col">
      <p>
        <b style="color: #4cb2f1">Grace International Exchange S.R.L.</b>
        Somos una agencia de intercambio cultural comprometida con ofrecer un
        servicio de excelencia hacia nuestros participantes. Es nuestra
        responsabilidad asegurarnos de que todos nuestros participantes se
        sientan orientados, asistidos y satisfechos durante todo el proceso de
        participación.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/public/media/images/quiene-somos-1.png" width="100%" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="/public/media/images/mision.png" width="100%" alt="" />
    </div>
    <div class="text_col col-md-6">
      <h4>Nuestra Misión</h4>
      <p>
        Somos una agencia comprometida con ofrecer un servicio de excelencia
        hacia nuestros participantes. Es nuestra responsabilidad asegurarnos de
        que todos nuestros participantes se sientan orientados, asistidos y
        satisfechos durante todo el proceso de participación.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="text_col col-md-6">
      <h4>Visión</h4>
      <p>
        Ser la primera opción en materia de intercambio cultural en República
        Dominicana, además de ser la agencia de servicios líder en esta
        categoría.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/public/media/images/vision.png" width="100%" alt="" />
    </div>
  </div>
</div>