{{> carousel}}

<div class="container-fluid px-0">
    <div class="container">
      {{> knowus}}
    </div>
    <hr class="mb-0">
    <div class="container-fluid bg-light " style="">
      {{!-- {{> hexagons}} --}}
    </div>
    <div class="container-fluid pb-5 " style=" background:linear-gradient(45deg,black, rgba(255,255,255, 0.3)), url(https://images3.alphacoders.com/727/727369.jpg);">
      {{> explore}}
    </div>
</div>
