html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
}

.know_us_container {
  margin: 100px 0;
}

.know_us_card h4 {
  color: black;

  padding: 30px 0;
}

.know_us h4 {
  color: black;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-weight: bold;
}

.know_us_card {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #eeeeee;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.know_us_card p {
  color: #8f8f8f;
  text-align: justify;
}

.know_us_card_btn {
  font-size: 18px;
  color: black;
}

.know_us_card_btn:hover {
  background-color: #4cb2f1;
  color: white;
}

.bill_form {
  /* background-image: linear-gradient(to right, black, transparent),
<<<<<<< HEAD
    url("/public/media/images/techsupport.jpg"); */
=======
    url("/public/media/images/techsupport.jpg");
>>>>>>> 0394d62e6dd52b24b8a1c29459ba9f04e5b1d597
  background-repeat: no-repeat;
  background-size: cover; */
}

.bill_form input,
.bill_form textarea {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.bill_form input:focus {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.bill_form textarea:focus {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

#footer {
  height: 70px;
  background-color: #eeeeee;
  /* background-image: linear-gradient(to right, #eeeeee, white); */
  z-index: 9;
}

@media screen and (max-width: 767px) {
  .know_us_container {
    margin-top: 30px;
  }

  .know_us img {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .know_us_card {
    margin-left: 15px;
    margin-right: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .know_us_card h4 {
    color: black;
    text-align: center;
  }

  .know_us_card_btn {
    display: block;
  }
}
