html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
}

.know_us_container {
  margin: 100px 0;
}

.know_us_card h4 {
  color: black;

  padding: 30px 0;
}

.know_us h4 {
  color: black;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
  font-weight: bold;
}

.know_us_card {
  margin-top: auto;
  margin-bottom: auto;
  background-color: #eeeeee;
  padding: 10px 20px 20px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.know_us_card p {
  color: #8f8f8f;
  text-align: justify;
}

.know_us_card_btn {
  font-size: 18px;
  color: black;
}

.know_us_card_btn:hover {
  background-color: #4cb2f1;
  color: white;
}

.bill_form {
  /* background-image: linear-gradient(to right, black, transparent),

    url("/public/media/images/techsupport.jpg"); */

  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.bill_form input,
.bill_form textarea {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.bill_form input:focus {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

.bill_form textarea:focus {
  outline: none !important;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

#footer {
  height: 70px;
  background-color: #eeeeee;
  /* background-image: linear-gradient(to right, #eeeeee, white); */
  z-index: 9;
}

.cat {
  border-bottom: 3px solid rgb(0, 176, 240);
  /*border-bottom-left-radius: 5px;*/
  border-bottom-right-radius: 5px;
  margin: 20px 0;
}

.cat_title {
  font-size: 16px;
}

#cat1_icon,
#cat2_icon,
#cat3_icon,
#cat4_icon,
#cat5_icon,
#cat5_icon {
  transition: transform 0.2s ease-in-out;
}

.mapouter,
.gmap_canvas {
  height: 400px !important;
}

#cat1[aria-expanded="false"] > #cat1_icon,
#cat2[aria-expanded="false"] > #cat2_icon,
#cat3[aria-expanded="false"] > #cat3_icon,
#cat4[aria-expanded="false"] > #cat4_icon,
#cat5[aria-expanded="false"] > #cat5_icon,
#cat6[aria-expanded="false"] > #cat6_icon {
  transform: rotate(-90deg);
}

.description {
  color: #808080;
  padding: 0 30px;
  background-color: white;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .know_us_container {
    margin-top: 30px;
  }

  .know_us img {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .know_us_card {
    margin-left: 15px;
    margin-right: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .know_us_card h4 {
    color: black;
    text-align: center;
  }

  .know_us_card_btn {
    display: block;
  }

  .bill_form {
    padding: 0;
  }
}
