.teachusa {
  padding: 30px 0 35px 0;
}

.teachusa-bg {
  width: 100%;
  background: linear-gradient(to right, black 25%, transparent 100%),
    url("/public/media/images/classroom-3.JPG");
  object-fit: cover;
  /* background-repeat: no-repeat; */
  background-position: 0 50%;
}

.teachusa-bg img {
  max-width: 40%;
  opacity: 0.7;
}

.teachusa-section {
  padding: 100px 20px;
}

.teachusa-section ul {
  list-style: none;
}

.teachusa-section ul li {
  color: #808080;
  padding: 10px 0;
  border-bottom: solid 1px #eeeeee;
  background-color: white;
  text-align: left;
}

.teachusa-section ul li:last-child {
  border-bottom: none;
}

.teachusa-section ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.teachusa-description {
  padding: 0;
  text-align: justify;
  color: #808080;
}

.intership-section img {
  width: 100%;
  border-radius: 15px;
  box-sizing: border-box;
}

.teachusa-section-image {
  padding: 50px;
}

.teachusa-section-image img {
  height: 100%;
  width: 100%;
}

.intership-resources ul li {
  background-color: #0088cc;
  font-family: "Bebas Neue", cursive;
  border-radius: 5px;
  padding: 15px 10px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .teachusa-section ul {
    padding-left: 0;
  }

  .teachusa-bg img {
    display: none;
  }
}
