
<hr class="m-0" />

<div class="bill_form">
  <div class="container" style="">
    <div class="row">
      <div 
      class="col-md-8 px-5 py-5 " 
      style="margin-left: auto; margin-right: auto; 
      
      ">

          <h4 class="text-center"><i class="fa fa-exclamation-circle mr-2" aria-hidden="true" style="color: #4cb2f1"></i>Aplica a uno de nuestros Programas</h4>

          <form  id="applicationForm" class="" action="/request/mail" method="post">
            <div class="row" style="margin-top: 70px;" >
              {{!-- <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="name"
                    value=""
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    value=""
                    placeholder="Correo"
                  />
                </div>
              </div> --}}
              <div class="col-md-12">
                
                <div  class="form-group">
                  
                    <label>Programa al que deseas aplicar:</label>
                  <select class="form-control" name="program">
                    <option disabled value="">Seleccione una opción</option>
                    <option value="swt">Summer Work & Travel</option>
                    <option value="smc">Summer Camp</option>
                    <option value="intern" disabled>Internship</option>
                    <option value="tchprog" disabled>Teacher Program</option>
                  </select>
                  
              </div>

              {{! Personal Informationn}}
              <div
              id="cat1" 
              data-bs-toggle="collapse" 
              data-bs-target="#cat_personalInformation"
              aria-expanded="false" 
              class="py-3 mt-4 cat" style="display:flex; align-items: center; justify-content:space-between; cursor: pointer; background-color: #fcfcfc"
              >
                <h5 class="m-0 cat_title">Información Personal</h5><i id="cat1_icon" class="fas fa-chevron-down"></i>
              </div>
              <div  id="cat_personalInformation" class="collapse pt-4">
                                <div class="form-group">
                  <label>Nombre(s)</label>
                  <input type="text" name="name" class="form-control" placeholder="Juan...">
              </div>
              <div class="form-group">
                  <label>Apellidos(s)</label>
                  <input type="text" name="lastname" class="form-control" placeholder="Pérez">
              </div>

              <div class="form-group">
                  <label>Fecha de Nacimiento</label>
                  <input type="date" name="birthDate" class="form-control">
              </div>
              <div class="form-group">
                  <label>Sexo</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="male" name="sex" style="display: inline-block" type="radio" /> <span>Hombre</span>
                  </div>
                  <div>
                      <input id="famale" name="sex" style="display: inline-block" type="radio" class=""/> <span>Mujer</span>
                  </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Edad</label>
                  <input type="number" name="age" class="form-control">
              </div>
              <div class="form-group">
                  <label>Cédula</label>
                  <input type="text" name="id" class="form-control" placeholder="xxx-xxxxxxx-x">
              </div>
              <div class="form-group">
                  <label>Pasaporte</label>
                  <input type="text" name="passport" class="form-control" placeholder="xxxxxxxxxxxxx">
              </div>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" name="email" class="form-control" placeholder="somebody@example.com">
              </div>
              <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" name="phoneNumber" class="form-control" placeholder="(xxx) xxx-xxxx">
              </div>
              <div class="form-group">
                  <label>Teléfono alternativo</label>
                  <input type="text" name="altPhoneNumber" class="form-control" placeholder="(xxx) xxx-xxxx">
              </div>
              <div class="form-group">
                  <label>Nivel de Inglés</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="c2" name="englishLevel" style="display: inline-block" type="radio" /> <span>C2</span>
                  </div>
                  <div>
                      <input id="c1" name="englishLevel" style="display: inline-block" type="radio" /> <span>C1</span>
                  </div>
                  <div>
                      <input id="b2" name="englishLevel" style="display: inline-block" type="radio" /> <span>B2</span>
                  </div>
                  <div>
                      <input id="b1" name="englishLevel" style="display: inline-block" type="radio" /> <span>B1</span>
                  </div>
                  <div>
                      <input id="a2" name="englishLevel" style="display: inline-block" type="radio" /> <span>A2</span>
                  </div>
                  <div>
                      <input id="a1" name="englishLevel" style="display: inline-block" type="radio" /> <span>A1</span>
                  </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Nacionalidad</label>
                  <input type="text" name="nacionality" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" name="address" class="form-control" placeholder="">
              </div>
              <div class="form-group">
                  <label>T-shirt Size</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="xs" name="shirtSize" style="display: inline-block" type="radio" /> <span>XS</span>
                  </div>
                  <div>
                      <input id="s" name="shirtSize" style="display: inline-block" type="radio" /> <span>S</span>
                  </div>
                  <div>
                      <input id="m" name="shirtSize" style="display: inline-block" type="radio" /> <span>M</span>
                  </div>
                  <div>
                      <input id="L" name="shirtSize" style="display: inline-block" type="radio" /> <span>L</span>
                  </div>
                  <div>
                      <input id="xl" name="shirtSize" style="display: inline-block" type="radio" /> <span>XL</span>
                  </div>
                  <div>
                      <input id="2xl" name="shirtSize" style="display: inline-block" type="radio" /> <span>2XL</span>
                  </div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label>Contacto de Emergencia</label>
                  <input type="text" name="emergencyContact" class="form-control" placeholder="">
              </div>
                </div>

                {{! Academic Information}}
                <div 
                id="cat2" 
              data-bs-toggle="collapse" 
              data-bs-target="#cat_academicInformation" 
              aria-expanded="false" 
              class="py-3 mt-4 cat" style="display:flex; align-items: center; justify-content:space-between; cursor: pointer; background-color: #fcfcfc">
                <h5 class="m-0 cat_title">Información Académica</h5><i class="fas fa-chevron-down" id="cat2_icon" style=""></i>
              </div>
              <div id="cat_academicInformation" class="collapse pt-4">
                <div class="form-group">
                  <label>¿Donde estudias?</label>
                  <input type="text" name="college" class="form-control" placeholder="Universidad">
                </div>
                <div class="form-group">
                  <label>¿Cuándo comenzaste la Universidad?</label>
                  <input type="date" name="collegeStartingDate" class="form-control" >
                </div>
                <div class="form-group">
                  <label>¿Qué estudias?</label>
                  <input type="text" name="career" class="form-control" placeholder="Ej. Lic. Contabilidad">
                </div>
                <div class="form-group">
                  <label>¿Cuántos períodos has completado?</label>
                  <input type="number" name="collegeLevel" class="form-control" >
                </div>
                <div class="form-group">
                  <label>¿Cuántas asignaturas estás cursando en este período?</label>
                  <input type="number" name="currentSubjects" class="form-control" >
                </div>
                <div class="form-group">
                  <label>¿Cuántas asignaturas tomaste en el período pasado?</label>
                  <input type="number" name="lastSubjects" class="form-control" >
                </div>
                <div class="form-group">
                  <label>¿Alguna vez has interrumpido tus estudios?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="interrupted" name="whereCollegeStoped" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="uninterrupted" name="whereCollegeStoped" style="display: inline-block" type="radio" class=""/> <span>No</span>
                  </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>¿Cuándo piensas graduarte?</label>
                  <input type="date" name="aproxEndingDate" class="form-control" >
                </div>
                <div class="form-group">
                  <label>¿Has estudiado en otra universidad?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="otherCollegeY" name="wentOtherCollege" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="otherCollegeN" name="wentOtherCollege" style="display: inline-block" type="radio" class=""/> <span>No</span>
                  </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>¿Alguna vez te has cambiado de carrera?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="changedCareerY" name="changedCareer" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="changedCareerN" name="changedCareer" style="display: inline-block" type="radio" class=""/> <span>No</span>
                  </div>
                  </div>
              </div>
              <div class="form-group">
                  <label>¿Alguna vez te has cambiado de Universidad?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="changedCollegeY" name="changedCollege" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="changedCollegN" name="changedCollege" style="display: inline-block" type="radio" class=""/> <span>No</span>
                  </div>
                  </div>
              </div>
              </div>

               <div 
                id="cat3" 
              data-bs-toggle="collapse" 
              data-bs-target="#cat_workExperience" 
              aria-expanded="false" 
              class="py-3 mt-4 cat" style="display:flex; align-items: center; justify-content:space-between; cursor: pointer; background-color: #fcfcfc">
                <h5 class="m-0 cat_title">Experiencia Laboral</h5><i class="fas fa-chevron-down" id="cat3_icon" style=""></i>
              </div>
              <div id="cat_workExperience" class="collapse pt-4">
                 <div class="form-group">
                  <label>¿Actualmente trabajas?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="currentLyWorkingY" name="currentLyWorking" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="currentLyWorkingN" name="currentLyWorking" style="display: inline-block" type="radio" class=""/> <span>No</span>
                  </div>
                  </div>
                </div>
              
              <div class="form-group">
                  <label>Si es así ¿Donde?</label>
                  <input type="text" name="companyName" style="" class="form-control" placeholder="Empresa"/>
              </div>
              <div class="form-group">
                  <label>¿Cuál es tu posición allí?</label>
                  <input type="text" name="workPosition" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Es un trabajo a tiempo completo o a medio tiempo?</label>
                  <input type="text" name="workTiming" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿Por cuánto tiempo has trabajado allí?</label>
                  <input type="text" name="hiredTime" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿En cuales otros lugares has trabajado y cuales han sido tus posiciones?</label>
                  <input type="text" name="otherCompanyAndPos" style="" class="form-control"/>
              </div>
              </div>
                <div 
                id="cat4" 
              data-bs-toggle="collapse" 
              data-bs-target="#cat_familyInformation" 
              aria-expanded="false" 
              class="py-3 mt-4 cat" style="display:flex; align-items: center; justify-content:space-between; cursor: pointer; background-color: #fcfcfc">
                <h5 class="m-0 cat_title">Información parental</h5><i class="fas fa-chevron-down" id="cat4_icon" style=""></i>
              </div>
              <div id="cat_familyInformation" class="collapse pt-4">
                 <div class="form-group">
                  <label>Estado Civil</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="single" name="maritalStatus" style="display: inline-block" type="radio" /> <span>Soltero</span>
                  </div>
                  <div>
                      <input id="married" name="maritalStatus" style="display: inline-block" type="radio" /> <span>Casado</span>
                  </div>
                  <div>
                      <input id="divorced" name="maritalStatus" style="display: inline-block" type="radio" /> <span>Divorciado</span>
                  </div>
                  <div>
                      <input id="maritalStatusOther" name="maritalStatus" style="display: inline-block" type="radio" /> <span>Otro</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Tienes hijos?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="childrenY" name="children" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="childrenN" name="children" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
              <div class="form-group">
                  <label>¿Actualmente, con quién vives?</label>
                  <input type="text" name="liveWidth" style="" class="form-control" placeholder="Empresa"/>
              </div>
              <div class="form-group">
                  <label>¿Tus padres trabajan?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="workingParentsY" name="workingParents" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="workingParentsN" name="workingParents" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
              <div class="form-group">
                  <label>¿Cuáles son sus ocupaciones?</label>
                  <input type="text" name="ocupations" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Viven en casa propia?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="ownedHouseY" name="ownedHouse" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="ownedHouseN" name="ownedHouse" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Tienes hermanos/as?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="siblingsY" name="siblings" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="siblingsN" name="siblings" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
              <div class="form-group">
                  <label>¿Cuántos/as?</label>
                  <input type="number" name="sibligsAmount" style="" class="form-control"/>
              </div>
               <div class="form-group">
                  <label>¿Tienes familiares directos en USA? (padres, hermanos, esposo/a)</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="closeFamilyAtUSY" name="closeFamilyAtUS" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="closeFamilyAtUSN" name="closeFamilyAtUS" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
              </div>
              <div 
                id="cat5" 
              data-bs-toggle="collapse" 
              data-bs-target="#cat_exchangeProgram" 
              aria-expanded="false" 
              class="py-3 mt-4 cat" style="display:flex; align-items: center; justify-content:space-between; cursor: pointer; background-color: #fcfcfc">
                <h5 class="m-0 cat_title">Programa</h5><i class="fas fa-chevron-down" id="cat5_icon" style=""></i>
              </div>
              <div id="cat_exchangeProgram" class="collapse pt-4">
                <div class="form-group">
                  <label>¿Cuál crees es la principal meta de este programa?</label>
                  <input type="text" name="goal" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Por qué deseas realizar este programa?</label>
                  <input type="text" name="whyDoingProgram" style="" class="form-control" placeholder=""/>
              </div>
                <div class="form-group">
                  <label>¿Quién lo costeará/pagará?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="whoIsPayingMe" name="whoIsPaying" style="display: inline-block" type="radio" /> <span>Yo</span>
                  </div>
                  <div>
                      <input id="whoIsPayingParents" name="whoIsPaying" style="display: inline-block" type="radio" /> <span>Padres</span>
                  </div>
                  <div>
                      <input id="whoIsPayingFriend" name="whoIsPaying" style="display: inline-block" type="radio" /> <span>Amigo</span>
                  </div>
                  <div>
                      <input id="whoIsPayingOther" name="whoIsPaying" style="display: inline-block" type="radio" /> <span>Otro</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Tienes alguna idea de quienes serán tus garantes?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="wanrrantiersY" name="wanrrantiers" style="display: inline-block" type="radio" /> <span>Yo</span>
                  </div>
                  <div>
                      <input id="wanrrantiersN" name="wanrrantiers" style="display: inline-block" type="radio" /> <span>Padres</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Has realizado este programa anteriormente u otro de intercambio cultural?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="exchangeBeforeY" name="exchangeBefore" style="display: inline-block" type="radio" /> <span>Yo</span>
                  </div>
                  <div>
                      <input id="exchangeBeforeN" name="exchangeBefore" style="display: inline-block" type="radio" /> <span>Padres</span>
                  </div>
                  </div>
                </div>
              <div class="form-group">
                  <label>¿Cuantas veces lo has hecho?</label>
                  <input type="number" name="howManyExchanges" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿En qué año(s)?</label>
                  <input type="text" name="atWhichYear" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿A través de cuál agencia?</label>
                  <input type="text" name="agency" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Qué sponsor(s)?</label>
                  <input type="text" name="sponsor" style="" class="form-control" placeholder=""/>
              </div>
               <div class="form-group">
                  <label>¿Por qué cambiaste de agencia(s)?</label>
                  <input type="text" name="whyChangedAgency" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Tuviste algún problema en tu pasado programa?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="troublesLastProgramY" name="troublesLastProgram" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="troublesLastProgramN" name="troublesLastProgram" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Alguna vez has visitado USA?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="hasVisitedUSY" name="hasVisitedUS" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="hasVisitedUSN" name="hasVisitedUS" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Tiene alguna visa de USA?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="usVisaY" name="usVisa" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="usVisaN" name="usVisa" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
              <div class="form-group">
                  <label>¿Cuál visa tienes?</label>
                  <input type="text" name="whichVisa" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Está actualmente en algún proceso de residencia hacia USA?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="usResidenceProcessY" name="usResidenceProcess" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="usResidenceProcessN" name="usResidenceProcess" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Se te ha negado alguna visa hacia USA?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="usVisaDeniedY" name="usVisaDenied" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="usVisaDeniedN" name="usVisaDenied" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Tiene alguna condición de salud?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="medConditionY" name="medCondition" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="medConditionN" name="medCondition" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                 <div class="form-group">
                  <label>¿Cuál es tu condición?</label>
                  <input type="text" name="whichMedCondition" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿Tiene alguna prescripción médica?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="medicalPrescriptionY" name="medicalPrescription" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="medicalPrescriptionN" name="medicalPrescription" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>¿Tiene algún impedimento de trabajar un día particular?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="noWorkingDayY" name="noWorkingDay" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="noWorkingDayN" name="noWorkingDay" style="display: inline-block" type="radio" /> <span>No</span>
                  </div>
                  </div>
                </div>
              </div>
              <div 
                id="cat6" 
              data-bs-toggle="collapse" 
              data-bs-target="#cat_grace" 
              aria-expanded="false" 
              class="py-3 mt-4 cat" style="display:flex; align-items: center; justify-content:space-between; cursor: pointer; background-color: #fcfcfc">
                <h5 class="m-0 cat_title">Preguntas de Cierre</h5><i class="fas fa-chevron-down" id="cat6_icon" style=""></i>
              </div>
              <div id="cat_grace" class="collapse pt-4">
                 <div class="form-group">
                  <label>¿Actualmente trabajas?</label>
                  <div style="display: flex; flex-direction: column">
                    <div>
                      <input id="currentLyWorkingY" name="currentLyWorking" style="display: inline-block" type="radio" /> <span>Si</span>
                  </div>
                  <div>
                      <input id="currentLyWorkingN" name="currentLyWorking" style="display: inline-block" type="radio" class=""/> <span>No</span>
                  </div>
                  </div>
                </div>
              
              <div class="form-group">
                  <label>Si es así ¿Donde?</label>
                  <input type="text" name="companyName" style="" class="form-control" placeholder="Empresa"/>
              </div>
              <div class="form-group">
                  <label>¿Cuál es tu posición allí?</label>
                  <input type="text" name="workPosition" style="" class="form-control" placeholder=""/>
              </div>
              <div class="form-group">
                  <label>¿Es un trabajo a tiempo completo o a medio tiempo?</label>
                  <input type="text" name="workTiming" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿Por cuánto tiempo has trabajado allí?</label>
                  <input type="text" name="hiredTime" style="" class="form-control"/>
              </div>
              <div class="form-group">
                  <label>¿En cuales otros lugares has trabajado y cuales han sido tus posiciones?</label>
                  <input type="text" name="otherCompanyAndPos" style="" class="form-control"/>
              </div>
              </div>
              </div>
            </div>
            <div class="row mt-5">
              <button
                type="submit"
                class="btn text-white"
                style="margin: 0 auto; font-size: 18px; background-color: #4cb2f1; letter-spacing: 0.5px"
              >Enviar Solicitud</button>
            </div>

          </form>
        </div>
      </div>
    </div>

  </div>

</div>