<hr class="m-0" />
<div class="bill_form">
  <div class="container py-5" style="font-family: 'Bebas Neue', cursive;">
    <div class="row">
      <div class="col-md-8" style="margin-left: auto; margin-right: auto">
        <div class="card-body rounded" style="">
          <h4 class="text-center">Aplica a uno de nuestros Programas</h4>
          <form class="" action="/request/mail" method="post">
            <div class="row mt-4">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="name"
                    value=""
                    placeholder="Nombre"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    value=""
                    placeholder="Correo"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="info"
                    rows="8"
                    cols="80"
                    placeholder="Escribe tu solicitud"
                  ></textarea>
                </div>
              </div>
              <button
                type="submit"
                class="btn text-white"
                style="margin: 0 auto; font-size: 18px; background-color: #4cb2f1; letter-spacing: 0.5px"
              >Enviar Solicitud</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>