<div id="carousel_item" class="carousel slide" data-ride="carousel" >

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="home-carousel-1" class="text-white">
        <div class="container">
          <div class="row">
              <!--<div class="col-md-6">
                <h2 style="" class="px-2 item_1">E <span class=""> fficiency</span> </h2>
                <h2 style="" class="px-2 mt-3 item_2">I <span class="" > ntelligence</span></h2>
                <h2 style="" class="px-2 mt-3 item_3">E <span class=""> nterprise</span></h2>
              </div>
              <div class="col-md-6 p-4" style="background-color: rgba(0,0,0,0.3); border: solid 1px white; border-radius: 5px; font-size: 20px" >
                  <h4 class="text-center" style="letter-spacing: 1px">Terminal de EIE</h4>
                  <p class="mt-4">#proyectos/eie <i class="fas fa-terminal" style="font-size: 15px"></i> <input class="ml-3" style="background-color: transparent; color: white; border: none" type="text" name="" value="" placeholder="buscar"></p>

                  <div class="" style="margin-top: 100px">
                    <p style="opacity: 0.7" class="text-center">
                      caracterizada, por brindar servicios de Capacitación, Integración, Asesoría,
                      Desarrollo e Implementación en tecnología de la información basada en software ultima generación.
                    </p
                  </div>>-->
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
