<div style="font-family: 'Cedarville Cursive', cursive; padding-top: 100px">
  <h1 class="text-center text-white">
    Explora y conócenos
  </h1>
</div>
<div class="explore">
  <div class="container">
    <input type="radio" name="slider" id="item-1" checked />
    <input type="radio" name="slider" id="item-2" />
    <input type="radio" name="slider" id="item-3" />
    <div class="cards">
      <label class="card shadow" for="item-1" id="song-1">
        <img src="/public/media/images/explore_1.png" alt="song" />
      </label>
      <label class="card" for="item-2" id="song-2">
        <img src="/public/media/images/explore_2.png" alt="song" />
      </label>
      <label class="card" for="item-3" id="song-3">
        <img src="/public/media/images/explore_3.jpeg" alt="song" />
      </label>
    </div>
    <a href="https://www.instagram.com/graceinternationalexchange/">
      <span class="btn border know_us_card_btn text-white">Quiero ver más
        <i class="fa fa-plus"></i>
      </span>
    </a>
  </div>
</div>