<div
  id="footer"
  class="px-3 py-5 text-center"
  style="font-size: 12px; height: auto;  color: grey"
>
  <div style=" width: 310px; margin-left: auto; margin-right: auto; ">
    <p>
      Ave. Correa y Cidrón No.404, Plaza Hnos. Rodriguez, Segundo Nivel Local 18
    </p>
    <p class="my-0">
      <b>Tel.</b>
      829-241-0234
      <br />
      <b>Email:</b>
      Info@graceinternational.com.do
    </p>

  </div>
