<div
  id="footer"
  class="px-3 py-5 text-center"
  style="font-size: 12px; height: auto;  color: grey"
>
  <div style="max-width: 450px; height: auto; margin-left: auto; margin-right: auto; ">
    <p style="max-width: 350px; margin-left: auto; margin-right: auto">
      Ave. Correa y Cidrón No.404, Plaza Hnos. Rodriguez, Segundo Nivel Local 18
    </p>
    <p class="my-0">
      <b>Tel.</b>
      829-241-0234
      <br />
      <b>Email:</b>
      Info@graceinternational.com.do
    </p>
    <div style="display: flex; justify-content: center; " class="pt-5">
      <div class="mapouter">
      <div class="gmap_canvas">
        <iframe   width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=grace%20international&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="margin-right: auto">
          </iframe>
            <a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}</style>
            <a href="https://www.embedgooglemap.net">google maps websites</a>
              <style>.gmap_canvas {height:500px;width:100%; background: none !important;}
                
              </style>
        </div>
      </div>
    </div>
    
  </div>
