<div style="font-family: 'Cedarville Cursive', cursive; padding-top: 100px">
  <h1 class="text-center">
    Conoce nuestros Programas!
  </h1>
</div>
<div class="container text-center hex_container">
  <div class="program_icon_container">
    <div class="shadow-sm program_icon">
      <a
        href="/services/summercamp"
        class="fab fa-free-code-camp program_inner_icon"
      ></a>
    </div>
    <label>Summer Camp</label>
  </div>
  <div class="program_icon_container">
    <div class="shadow-sm program_icon">
      <a
        href="/services/summerwork"
        class="fas fa-plane program_inner_icon"
      ></a>
    </div>
    <label>Summer Work & Travel</label>
  </div>

  <div class="program_icon_container">
    <div class="shadow-sm program_icon">
      <i class="fab fa-free-code-camp program_inner_icon"></i>
    </div>
    <label>Internship/Trainee</label>
  </div>

  <div class="program_icon_container">

    <div class="shadow-sm program_icon">
      <i class="fas fa-chalkboard-teacher program_inner_icon"></i>
    </div>
    <label>Teacher Program</label>
  </div>
</div>

{{! <div id="hexagons_container_child" class="hex-item">
      <a href="/services/sound">
        <div id="audio_hex" class="hexagon shadow">
          <i href="/home" class="fas fa-volume-up" style=""></i>
          <div class="face1 border-right border-left border-primary"></div>
          <div class="face2 border-right border-left"></div>
        </div>
        <span>SISTEMAS DE AUDIO</span>

      </a>
    </div>
    <div class="hex-item">
      <a href="/services/networking">
        <div class="hexagon shadow">
          <i class="fas fa-network-wired" style=""></i>
          <div class="face1 border-right border-left border-primary"></div>
          <div class="face2 border-right border-left"></div>
        </div>
        <span>INFRAESTRUCTURA DE REDES</span>
      </a>
    </div>
    <div class="hex-item">
        <a href="/services/sound" >
          <div  class="hexagon shadow ">
            <i id="tisupport_btn" href="/home" class="fas fa-chalkboard-teacher" style=""></i>
            <div class="face1 border-right border-left border-primary"></div>
            <div class="face2 border-right border-left"></div>
          </div>
          <span>ASESORÍA INFORMÁTICA</span>
        </a>
    </div>
</div>
<div id="hexagons_container_1" class="container">
  <div class="hex-item">
    <a href="/services/development" style="text-decoration: none">
      <div class="hexagon shadow ">
        <i class="fas fa-code" style=""></i>
        <div class="face1 border-right border-left border-primary"></div>
        <div class="face2 border-right border-left"></div>
      </div>
      <span>DESARROLLO DE SOFTWARE</span>
    </a>
  </div>
  <div class="hex-item">
    <a href="" style="text-decoration: none">
      <div  class="hexagon shadow ">
        <i href="/home" class="fas fa-laptop-house" style=""></i>
        <div class="face1 border-right border-left border-primary"></div>
        <div class="face2 border-right border-left"></div>
      </div>
      <span>INFRAESTRUCTURA DE SERVIDORES</span>
    </a>
  </div>
  <div class="hex-item">
      <a href="" style="text-decoration: none">
        <div  class="hexagon shadow ">
          <i href="/home" class="fas fa-podcast" style=""></i>
          <div class="face1 border-right border-left border-primary"></div>
          <div class="face2 border-right border-left"></div>
        </div>
        <span>SISTEMAS STREAMING</span>
      </a>
  </div> }}