<div class="know_us_container">
  <div class="know_us">
    <div class="row">
      <div class="col-md-4" style="">
        <img
          class="rounded"
          src="/public/media/images/handshake.png"
          style="width: 100%;  height: 100%; padding: 0 0; object-fit: cover"
          alt=""
        />
      </div>
      <div class="col-md-8 know_us_card">
        <h4 style="">Grace International Exchange SRL</h4>
        <p>
          Somos una agencia de intercambio cultural comprometida con ofrecer un
          servicio de excelencia hacia nuestros participantes. Es nuestra
          responsabilidad asegurarnos de que todos nuestros participantes se
          sientan orientados, asistidos y satisfechos durante todo el proceso de
          participación.
        </p>
        <a href="/aboutus" style="text-decoration: none;">
          <span class="btn border know_us_card_btn">
            <i class="fas fa-hands-helping"></i>
            Más Sobre Nosotros</span>
        </a>
      </div>
    </div>
  </div>
</div>