
<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div style="display: inline-flex;  align-items: center">
          <i id="messageModalIcon" class="" style="font-size: 20px"></i><h4 class="m-0 ml-1" id="messageModalLabel"></h4>
        </div>
      </div>
      <div class="modal-body">
        <p id="messageModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>