<div id="sencondnav" class="secondnav">
  <a href="/">
    <img
      width="150px"
      class="mt-2"
      src="/public/media/images/grace.png"
      alt=""
      style=""
    /></a>
  <div class="mt-5">
    <a
      href="https://form.jotform.com/222713135833855"
      style="text-decoration: none"
    ><span class="btn btn-success tex-white" style="">Agenda tu entrevista!</span></a>
  </div>
</div>
<hr style="margin: 0" />