<div id="sencondnav" class="secondnav">
  <a href="/">
    <img
      width="150px"
      class="mt-2"
      src="/public/media/images/grace.png"
      alt=""
      style=""
    /></a>
  <div class="mt-5" style="display: flex; flex-direction: row-reverse">
    <a id="schedule" class="mt-0" style="text-decoration: none"><span
        class="btn btn-success tex-white"
        style="background-color: #c4a927; border-color:#c4a927 "
      >Aplica aquí!</span></a>
    <div class="secondnav_steps">
      <a class="btn btn-primary tex-white" href="#applicationForm"><strong
        >1</strong>
        Completa el formulario</a>
      <a
        class="btn btn-success tex-white"
        href="https://form.jotform.com/241933762294867"
        target="_blank"
        style=""
      ><strong>2</strong> Angenda tu entrevista!</a>
    </div>

  </div>
</div>
<hr style="margin: 0" />