<nav id="topnav" class="text white" style="min-height: 30px">
  <div class="container text-white">
    <div class="">
      <!--<i class="far fa-clock ml-3 "></i><span> 8:00 a.m - 6:00 p.m.</span>-->
    </div>
    <div class="top_nav_icons">
      <a
        href="https://wa.me/18297654823"
        class="text-success fab fa-whatsapp"
      ></a>
      <a
        href="https://www.instagram.com/graceinternationalexchange/"
        class="fab fa-instagram"
        style="color: #F06390"
      ></a>
      <a href="" class="fab fa-facebook"></a>
      <a
        href="https://www.youtube.com/channel/UCh0b4fGMqAV3oPNtbNbTOAA"
        class="text-danger fab fa-youtube"
      ></a>
    </div>
  </div>
</nav>